.mapa {
    flex: 4 1 auto;
    height: calc(100% - 4px);
    box-sizing: border-box;
    background-color: #00BFA5;
    border-radius: 6px;
    margin: 2px;
    overflow: hidden;
    border: solid 1px white;
}

.ol-zoom {
    background-color: #00BFA560;
}

.ol-scale-line {
    background-color: #00BFA560;
}

.ol-control button {
    background-color: #00BFA598;
}


